@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: YekanBakh;
  font-weight: 300;
  src: url("/assets/fonts/YekanBakhFaNum-Light.woff");
}
@font-face {
  font-family: YekanBakh;
  font-weight: 400;
  src: url("/assets/fonts/YekanBakh-Regular.woff");
}
@font-face {
  font-family: YekanBakh;
  font-weight: 700;
  src: url("/assets/fonts/YekanBakh-Bold.woff");
}
:root {
  --primary-color: #ea4c22;
  --white: #fffefa;
  --black: #101010;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 376px;
  background-color: var(--white);
}
body {
  direction: rtl;
  font-family: YekanBakh, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header {
  width: 100%;
  height: 100vh;
  background: url("../src/assets/images/banner.jpg") no-repeat bottom center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  z-index: 1;
}
.nav-items {
  transition: 0.5s ease all;
}
@media (min-width: 1024px) {
  .nav-items::before {
    content: " ";
    position: absolute;
    top: -4%;
    left: 9%;
    height: 1px;
    width: 0px;
    background-color: var(--primary-color);
    transition: 0.5s ease all;
  }
  .nav-items:hover:before {
    width: 1.25rem;
  }
  .nav-items::after {
    content: " ";
    position: absolute;
    bottom: -10%;
    right: 8%;
    height: 1px;
    width: 0px;
    background-color: var(--primary-color);
    transition: 0.5s ease all;
  }
  .nav-items:hover:after {
    width: 1.25rem;
  }
}
.flip{
  transform: scaleX(-1)
}
.flex-full-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
}