@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: YekanBakh;
  font-weight: 300;
  src: url("/assets/fonts/YekanBakhFaNum-Light.woff");
}
@font-face {
  font-family: YekanBakh;
  font-weight: 400;
  src: url("/assets/fonts/YekanBakh-Regular.woff");
}
@font-face {
  font-family: YekanBakh;
  font-weight: 700;
  src: url("/assets/fonts/YekanBakh-Bold.woff");
}
:root {
  --primary-color: #EA4C22;
  --white: #FFFEFA;
  --black: #101010;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 376px;
  background-color: var(--white);
}
body {
  direction: rtl;
  font-family: YekanBakh, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
